<section>
  <h2>Crie a sua própria sala</h2>

  <form action="/create-room" method="POST">
    <label class= "sr-only" for="room-pass">Insira uma senha</label>
    <input type="password" name="password" id="room-id" placeholder="Código da sala">
    <button>
      <img src="assets/images/users-white.svg" alt="Insira uma senha">
      Cria sala
    </button>
  </form>

</section>