<link rel="stylesheet" href="/styles/noQuestion.css">

<div class="noQuestion">
  <img src="/assets/images/noquestions.svg " alt="sem pergunta"/>
  <p class="noquestion">Nenhuma por aqui...</p>
  <p class="noquestion">Faça a sua primeira pergunta e envia  o <br>código dessa sala  para outras pessoas!</p>
</div>
